export RESOURCE_GROUP=""

# Azure username and credentials
export AZURE_USER=""
export AZURE_PASS=""

# API
export API_ADMIN=""

# Postgresql login
export dbAdministratorLogin=""
export dbAdministratorLoginPassword=""

# Django
export DJANGO_SECRET_KEY=""

# FTP
export GO_FTPHOST=""
export GO_FTPUSER=""
export GO_FTPPASS=""
export GO_DBPASS=""

# Appeals API
export APPEALS_USER=""
export APPEALS_PASS=""

# SMTP settings
export EMAIL_HOST=""
export EMAIL_PORT=""
export EMAIL_USER=""
export EMAIL_PASS=""
