# Azure username and credentials
export AZURE_USER=""
export AZURE_PASS=""

# API administrator name for VM
export API_ADMIN=""

# Proxy function app config
export PROXY_APP_NAME=""
export PROXY_APP_STORAGE=""

# Postgresql login
export dbAdministratorLogin=""
export dbAdministratorLoginPassword=""

# Django
export DJANGO_SECRET_KEY=""

# DMIS FTP
export GO_FTPHOST=""
export GO_FTPUSER=""
export GO_FTPPASS=""
export GO_DBPASS=""

# Appeals API
export APPEALS_USER=""
export APPEALS_PASS=""
